<html>
  <body>
    <div class="container">
      <div
        class="intro d-flex justify-content-center align-items-center flex-column text-start"
      >
        <h3 class="w-75">
          Welcome to New Al-Siraj Travels - Your Gateway to Spiritual Journeys
          and Seamless Air Travel.
          <span
            >At New Al-Siraj Travels, we specialize in distinctive
            services:</span
          >
        </h3>
      </div>
      <div class="row text-center info">
        <div
          class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-start"
        >
          <i class="fa-solid fa-kaaba"></i>
          <h5>Hajj and Umrah Services</h5>
          <p>
            Embarking on a pilgrimage is a sacred journey, and we're here to
            ensure it's a seamless experience for you. Our Hajj and Umrah
            services include:
          </p>
          <p>
            <b>Tailored Pilgrimage Packages: </b>We understand the spiritual
            significance of your journey. Our packages are thoughtfully curated
            to cater to your unique needs and preferences.
          </p>
          <p>
            <b>Guidance and Support: </b>Our experienced team provides guidance
            every step of the way, ensuring you have the information and
            assistance you need.
          </p>
        </div>
        <div
          class="col-lg-3 col-sm-6 mt-5 mt-sm-0 d-flex flex-column align-items-center justify-content-start"
        >
          <i class="fa-solid fa-plane-departure"></i>
          <h5>Air Ticketing</h5>
          <p>
            Whether you're traveling for pilgrimage, leisure, or business, we've
            got your air travel needs covered. With New Al-Siraj Travels, you
            can expect:
          </p>
          <p>
            <b>Efficient Booking Process: </b> Our streamlined booking process
            ensures you get the best deals on flights, tailored to your travel
            schedule.
          </p>
          <p>
            <b>Competitive Pricing: </b>We offer competitive rates on airfare,
            providing you with cost-effective options for your journey.
          </p>
        </div>
        <div
          class="col-lg-3 col-sm-6 mt-5 mt-lg-0 d-flex flex-column align-items-center justify-content-start"
        >
          <i class="fa-solid fa-hotel"></i>
          <h5>Tour Operator Services</h5>
          <p>
            Embark on a journey of spiritual enlightenment and cultural
            exploration with our exceptional tour operator services. We offer:
          </p>
          <p>
            <b>Guided Tours: </b>Our experienced guides will accompany you,
            providing insights and historical context to enhance your pilgrimage
            experience.
          </p>
          <p>
            <b>Comfortable Accommodations: </b>We partner with reputable hotels
            and lodgings to ensure your stay is both comfortable and convenient.
          </p>
        </div>
        <div
          class="col-lg-3 col-sm-6 mt-5 mt-lg-0 d-flex flex-column align-items-center justify-content-start"
        >
          <i class="fa-solid fa-earth-asia"></i>
          <h5>Visit Visa Services</h5>
          <p>
            Navigating visa applications can be a complex process. Let us
            simplify it for you. Our visa services include:
          </p>
          <p>
            <b>Expert Guidance: </b>Our team of experts is well-versed in visa
            requirements and procedures, ensuring a hassle-free application
            process.
          </p>
          <p>
            <b>Timely Processing: </b>We understand the importance of timely
            approvals, and we strive to expedite the visa process for your
            convenience.
          </p>
        </div>
      </div>
      <div class="contact w-100 d-flex flex-column justify-content-start align-items-center mt-4">
          <h3>Contact Us:</h3>
          <p><b>Tele: </b>0542-451514</p>
          <p><b>Email: </b><a class="anchor" href="mailto:alsirajtravels@alsirajgroup.pk">alsirajtravels@alsirajgroup.pk</a></p>
          <p><b>Mobile/ Whatsapp: </b><a class="anchor" href="tel:+920300080293">0300080293</a>/ <a class="anchor" href="tel:+9203000802964">03000802964</a>/ <a class="anchor" href="tel:+9203000802965">03000802965</a></p>
          <!-- <h2>12 YEARS EXPERIENCE</h2> -->
      </div>
    </div>
  </body>
</html>
