.nav-logo {
  width: 30px;
  margin: 5px;
}
.navbar {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 53, 102, 0.9);
  padding: 10px 10px 10px 10px;
  box-shadow: rgba(0, 53, 102, 0.8) 0px 2px 4px 0px;
  z-index: 100;
}
.navbar-brand {
  background: linear-gradient(to right, #ffc300, #fca311);
  background: -moz-linear-gradient(to right, #ffc300, #fca311);
  background: -webkit-linear-gradient(to right, #ffc300, #fca311);
  font-size: 16px;
  font-weight: 500;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  bottom: 0;
  transition: all 0.1s;
}
.navbar-brand:hover {
  background: linear-gradient(to right, #fca311, #ffc300);
  background: -moz-linear-gradient(to right, #fca311, #ffc300);
  background: -webkit-linear-gradient(to right, #fca311, #ffc300);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: brightness(110%);
  bottom: 1px;
}
.navbar-toggler {
  background: linear-gradient(to right, #ffc300, #fca311);
  background: -moz-linear-gradient(to right, #ffc300, #fca311);
  background: -webkit-linear-gradient(to right, #ffc300, #fca311);
}
.fa-house,.fa-paper-plane {
 color: #fca211e7;
 display: none;
  
}
@media screen and (max-width: 767px) {
  .fa-house,
  .fa-paper-plane {
    display: inline;
  }
  .text{
    display: none;
  }
}