<html>
  <body>
    <div class="container">
      <div
        class="intro d-flex justify-content-center align-items-center flex-column text-start"
      >
        <h3 class="w-75">
          Welcome to S.S.T International - Elevating Global Workforce Dynamics,
          <span
            >Embark on a journey with S.S.T International, where we redefine the
            paradigm of global workforce solutions. Our distinguished offerings
            encompass:</span
          >
        </h3>
      </div>
      <div class="row text-center w-auto justify-content-evenly info">
        <div
          class="col-xl-5 col-sm-6 d-flex flex-column align-items-center justify-content-start"
        >
        <i class="fa-solid fa-id-card"></i>
          <h5>Work Visa</h5>
          <p>
            Unfurl the tapestry of your international career with our bespoke
            Work Visa Artistry. Expect:
          </p>
          <p>
            <b>Artisanal Guidance: </b>Crafted by seasoned experts, our guidance
            transcends the mundane, ensuring your visa application is a
            masterpiece of precision.
          </p>
          <p>
            <b>Custom-Forged Solutions: </b>Each professional journey is unique.
            Our services are meticulously tailored to your individual narrative.
          </p>
        </div>

        <div
          class="col-xl-5 col-sm-6 mt-5 mt-sm-0 d-flex flex-column align-items-center justify-content-start"
        >
        <i class="fa-solid fa-users"></i>
          <h5>Demand/Man-Power Symphony</h5>
          <p>
            In the symphony of modern business, the right notes of talent are
            essential. S.S.T International orchestrates seamless connections
            between businesses and top-tier professionals. Our services include:
          </p>
          <p>
            <b>Precision Talent Scouting: </b>We don't just find candidates; we
            sculpt solutions. Your business deserves the virtuosos of your
            industry, and we know just where to find them.
          </p>
          <p>
            <b>Harmonious Deployment: </b>Timeliness is the crescendo of
            success. Our process ensures your workforce is ready to take center
            stage when you need them.
          </p>
        </div>
      </div>
      <div
        class="contact w-100 d-flex flex-column justify-content-start align-items-center mt-4"
      >
        <h3>Contact Us:</h3>
        <p><b>Tele: </b>0542-451515</p>
        <p>
          <b>Email: </b
          ><a class="anchor" href="mailto:sst@alsirajgroup.pk"
            >sst@alsirajgroup.pk</a
          >
        </p>
        <p>
          <b>Mobile/ Whatsapp: </b
          ><a class="anchor" href="tel:+9203000802961">03000802961</a>/
          <a class="anchor" href="tel:+9203000802961">03000802961</a>
        </p>
        <!-- <h2>6 YEARS EXPERIENCE</h2> -->
      </div>
    </div>
  </body>
</html>
